html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* not adding padding and border values to the height of any  element*/ }

.main {
  margin: 0 auto;
  background-color: #E5E5E5; }

.section {
  width: auto;
  margin: 0 auto; }
  .section .login {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 5px auto; }
    .section .login__left {
      color: white;
      background-color: #ffff;
      margin-left: 5px; }
      .section .login__left--logo {
        display: inline-block;
        margin-top: 8.6rem;
        margin-left: 4rem;
        margin-bottom: 8.6rem;
        font-style: normal;
        font-size: 3rem;
        line-height: 3.5px;
        font-weight: 700;
        font-family: "Roboto Light", sans-serif;
        color: #3751FE; }
      .section .login__left--heading {
        margin-left: 4rem;
        text-align: left;
        padding: 1rem;
        width: 72rem;
        height: 10.8rem; }
        .section .login__left--heading-primary {
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 3.6rem;
          line-height: 49.03px;
          font-family: Open Sans, serif;
          font-style: normal;
          color: #3751FE;
          text-align: left; }
      .section .login__left--paragraph {
        font-weight: 400;
        margin: 1rem 5rem;
        padding: 1rem 0;
        font-size: 1.8rem;
        line-height: 21.09px;
        color: black; }
    .section .login__right {
      background-color: #F4F4F4;
      position: relative; }
      .section .login__right--container {
        position: absolute;
        top: 40%;
        left: 0;
        transform: translate(0%, -40%); }
      .section .login__right--img {
        width: 72rem;
        height: 45rem;
        object-fit: cover; }

.login-form {
  margin: 10px 40px;
  padding: 10px; }

.form__group {
  background-color: #F4F4F4;
  padding: 10px;
  border-left: 2px solid #3751FE;
  border-radius: 5px;
  margin-bottom: 2px; }

.form-input {
  padding: 1rem;
  margin-bottom: 1rem;
  display: block;
  width: 556px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  outline: none;
  border: none; }
  .form-input::placeholder {
    width: 171px;
    height: 21px;
    margin: 39px 27px;
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-size: 1.8rem; }
  .form-input:focus:invalid {
    border-bottom: 3px solid orangered; }
  .form-input:hover {
    border: 2px solid #3751FE;
    outline: none;
    margin-bottom: 1rem; }
  .form-input:focus {
    outline: none;
    border: none; }

.form__email-section {
  font-size: 20px;
  font-family: "Roboto Light", sans-serif;
  font-weight: 700;
  color: #3751FE; }

.form-label {
  color: #000000;
  font-family: "Roboto Light", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.09px;
  cursor: pointer; }
  .form-label-password {
    display: none; }

.form__forgotten-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.form__remember-me {
  display: inline-block;
  font-size: 1.8rem;
  width: 11.8rem;
  height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 21.09px;
  position: absolute;
  color: #000000;
  padding: .5rem .3rem;
  margin: 0 .5rem; }

.form__password-reset:active, .form__password-reset:visited, .form__password-reset:link {
  font-size: 1.8rem;
  width: auto;
  height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 21.09px;
  color: #000000;
  background-color: white;
  text-transform: capitalize;
  text-decoration: none; }

.form__password-reset:hover {
  border-bottom: 3px solid #3751FE; }

.form__btn {
  margin-top: 4rem;
  display: inline-block; }
  .form__btn--login {
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    border-radius: .5rem;
    background-color: #3751FE;
    font-style: normal;
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 21.09px;
    border: 1px solid #3751FE;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25); }
    .form__btn--login:active {
      background-color: #3751FE; }
  .form__btn--sign-up {
    padding: 1rem .5rem;
    background-color: #F4F4F4;
    margin-left: 1rem;
    border-radius: .5rem;
    font-style: normal;
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 21.09px;
    outline: none;
    border: 1px solid #3751FE; }

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6rem 5rem; }
  .socials__link {
    padding: 0 5px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    width: 7.9rem;
    height: 2.1rem;
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-size: 1.4rem; }
    .socials__link:first-child {
      width: 10rem;
      text-align: left;
      color: #000000;
      padding-bottom: 0; }
    .socials__link:not(:first-child) {
      color: #3751FE;
      font-size: 1.8rem;
      line-height: 21.09px; }
      .socials__link:not(:first-child):hover {
        border-bottom: 3px solid #3751FE; }
