

@mixin respond ($breakpoint) {
  @if ($breakpoint == phone) { //less than 600px
    @media(max-width: 37.5em) {
      @content
    }
  }
  @if ($breakpoint == tab-portrait) {
    @media(max-width: 56.25em) { // less than 900px
      @content
    }
  }

  @if ($breakpoint == tab-landscape) { // less than 1200px
    @media(max-width: 75em) {
      @content
    }
  }

  @if ($breakpoint == big-screen) { // greater than 1800px
    @media(min-width: 112.5em) {
      @content
    }
  }
}

