
$color-bg-main: #E5E5E5;
$color-login-bg-left: #ffff;
$color-login-bg-right: #F4F4F4;


$color-heading-primary: #3751FE;

$heading-primary-font-size: 3.6rem;

$logo-font-size-bg: 3rem;
$logo-font-size-md: 2.3rem;
$logo-font-size-sm: 1.5rem;



$color-white: #ffff;
$color-black: #000000;

$width: 120rem;