.login-form{
  margin: 10px 40px;
  padding: 10px;
}

.form{
  &__group{
    background-color: #F4F4F4;
    padding: 10px;
    border-left: 2px solid $color-heading-primary;
    border-radius: 5px;
    margin-bottom: 2px;


  }
  &-input{
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 556px;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    outline: none;
    border: none;

    &::placeholder{
      width: 171px;
      height: 21px;
      margin: 39px 27px;
      font-family: "Roboto Light", sans-serif;
      font-style: normal;
      font-size: 1.8rem;



    }


    &:focus:invalid{
      border-bottom: 3px solid orangered;
    }

    &:hover{
      border: 2px solid $color-heading-primary;
      outline: none;
      margin-bottom: 1rem;

    }
    &:focus{
      outline: none;
      border: none;
    }


  }

  &__email-section{
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    font-weight: 700;
    color: $color-heading-primary;
  }

  &-label{
    color: #000000;
    font-family: "Roboto Light", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.09px;
    cursor: pointer;

    &-password{
      display: none;
    }

  }

  &__forgotten-password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 1rem 2rem rgba(black, .1);
  }

  &__remember-me{
    display: inline-block;
    font-size: 1.8rem;
    width: 11.8rem;
    height: 2.1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 21.09px;
    position: absolute;
    color: #000000;
    padding: .5rem .3rem;
    margin: 0 .5rem;



  }
  &__password-reset{
    &:active, &:visited, &:link{
      font-size: 1.8rem;
      width: auto;
      height: 2.1rem;
      font-weight: 400;
      font-style: normal;
      line-height: 21.09px;
      color: #000000;
      background-color: white;
      text-transform: capitalize;
      text-decoration: none;


    }

    &:hover{
      border-bottom: 3px solid $color-heading-primary ;
    }


  }

  &__btn{
    margin-top: 4rem;
    display: inline-block;

    &--login{
      padding: 1rem 1.5rem;
      margin-right: 1rem;
      border-radius: .5rem;
      background-color:#3751FE;
      font-style: normal;
      font-family: "Roboto Light", sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 21.09px;
      border: 1px solid #3751FE;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);

      &:active{
        background-color:#3751FE;
      }
    }
    &--sign-up{
      padding: 1rem .5rem;
     background-color: #F4F4F4;
      margin-left: 1rem;
      border-radius: .5rem;
      font-style: normal;
      font-family: "Roboto Light", sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 21.09px;
      outline: none;
      border: 1px solid $color-heading-primary;

    }

  }


}