.login-form{
  margin: 10px 40px;
  padding: 10px;
}

.form{
  &__group{
  background-color: #F4F4F4;
    padding: 10px;
    border-left: 2px solid $color-heading-primary;
  border-radius: 5px;
    margin-bottom: 2px;

    &:hover{
      margin-bottom: 0;
    }
  }
  &-input{
    padding: 10px;
    margin: 5px;
    display: block;
    width: 556px;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    border: none;

    &::placeholder{
      width: 171px;
      height: 21px;
      margin: 39px 27px;
      font-family: "Roboto Light", sans-serif;
      font-style: normal;
      font-size: 18px;
      transition: all .3s;
    }


    &:focus:invalid{
      border: none;
      border-bottom: 5px solid orangered;
    }

    &:hover{
      border: 3px solid $color-heading-primary;
      margin-bottom: 0;
    }


  }

  &__email-section{
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    font-weight: 700;
    color: $color-heading-primary;
  }

  &-label{
    color: #000000;
    font-family: "Roboto Light", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21.09px;
    cursor: pointer;

    &-password{
      visibility: hidden;
    }

  }

  &__forgotten-password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
  }

  &__remember-me{
    display: inline-block;
    font-size: 18px;
    width: 118px;
    height: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 21.09px;
    position: absolute;
    color: #000000;
    padding: 5px 3px;
    margin: 0 5px;


  }
  &__password-reset{
    &:active, &:visited, &:link{
      font-size: 18px;
      width: auto;
      height: 21px;
      font-weight: 400;
      font-style: normal;
      line-height: 21.09px;
      color: #000000;
      background-color: white;
      text-transform: capitalize;
      text-decoration: none;

    }

    &:hover{
      border-bottom: 3px solid $color-heading-primary ;
    }


  }

  &__btn{
    margin-top: 40px;
    display: inline-block;

    &--login{
      padding: 10px 13px;
      margin-right: 10px;
      border-radius: 5px;
      background-color:#3751FE;
      font-style: normal;
      font-family: "Roboto Light", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.09px;

      &:active{
        background-color:#3751FE;
      }
    }
    &--sign-up{
      padding: 10px 5px;
      background-color: #F4F4F4;
      margin-left: 10px;
      border-radius: 5px;
      font-style: normal;
      font-family: "Roboto Light", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.09px;
    }

  }


}