.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6rem 5rem;

  &__link{
    padding: 0 5px;
    margin: 0 5px;
    text-decoration: none;
    text-align: center;
    //background-color: black;
    width: 7.9rem;
    height: 2.1rem;
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-size: 1.4rem;



    &:first-child{
      width: 10rem;
      text-align: left;
      color: $color-black;
      padding-bottom: 0;
    }


    &:not(:first-child){
      color: $color-heading-primary;
      font-size: 1.8rem;
      line-height: 21.09px;
      &:hover{
        border-bottom: 3px solid $color-heading-primary;
      }
    }




  }
}