.socials{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 40px;

  &__btn{
    text-decoration: none;
    width: 79px;
    height: 21px;
    font-family: "Roboto Light", sans-serif;
    font-style: normal;
    font-size: 14px;


    &:not(:first-child){
      color: $color-heading-primary;
      font-size: 18px;
      line-height: 21.09px;
      &:hover{
        border-bottom: 3px solid $color-heading-primary;
      }
    }




  }
}