
html{
  font-size: 62.5%;
  background-color: $color-bg-main;


}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* not adding padding and border values to the height of any  element*/
}