
.section{
 width: auto;
  margin: 0 auto;


  .login{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns:repeat(2, 1fr);
    margin: 5px auto;


    &__left{
      color: white;
      background-color: $color-login-bg-left;
      margin-left: 5px;


      &--logo{
        display: inline-block;
        margin-top: 8.6rem;
        margin-left: 4rem;
        margin-bottom: 8.6rem;
        font-style: normal;
        font-size: $header-logo-font-size;
        line-height: 3.5px;
        font-weight: 700;
        font-family: "Roboto Light", sans-serif;
        color: $color-heading-primary;
      }

      &--heading{
        margin-left: 4rem;
        text-align: left;
        padding: 1rem;
        width: $width / 2;
        height: 10.8rem;


        &-primary{
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: $heading-primary-font-size;
          line-height: 49.03px;
          font-family: Open Sans, serif;
          font-style: normal;
          color: $color-heading-primary;
          text-align: left;
        }

      }



      &--paragraph{
        //width: 362px;
        //height: 21px;
        font-weight: 400;
        margin: 1rem 5rem;
        padding: 1rem 0;
        font-size: 1.8rem;
        line-height: 21.09px;
        color: black;

      }



    }


    &__right{

      background-color: $color-login-bg-right;
      position: relative;
      &--container{
        position: absolute;
        top: 40%;
        left: 0;
        transform: translate(-0%, -40%);
      }

      &--img{
        width: $width /2;
        height: 45rem;
        object-fit: cover;
      }

    }

  }

}