


  //margin: 0 20px;
  //background-color: $color-bg-main;
  .login{
    //background-color: $color-bg-main;
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns:repeat(2, 1fr);
      margin: 4rem 6rem;
      width: auto;


    @include respond(phone) {
      html {

        font-size: 50%;
        width: 90vw;
      }

        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);

      width: 90vw;
      margin: .5rem 0;
      .login:not(:first-child){
        text-align: center;
      }

    }


    &__left{
      color: white;
      background-color: $color-login-bg-left;
      margin-left: 5px;
      @include respond(phone){
        width: 100vw;

      }


      &--logo{
        display: inline-block;
        margin-top: 8.6rem;
        margin-left: 4rem;
        margin-bottom: 8.6rem;
        font-style: normal;
        font-size: $logo-font-size-bg;
        line-height: 3.5px;
        font-weight: 700;
        font-family: "Roboto Light", sans-serif;
        color: $color-heading-primary;

        @include respond(phone){
          margin-top: 4rem;
          margin-left: 2rem;
          margin-bottom: 4rem;
          font-size: $logo-font-size-sm;
          line-height: 1.5;
          font-weight: 500;

        }
      }
      &--heading{
        margin-left: 4rem;
        text-align: left;
        padding: 1rem;
        width: $width / 2;
        height: 10.8rem;
        @include respond(phone){
          width: 90%;
        }



        &-primary{
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: $heading-primary-font-size;
          line-height: 49.03px;
          font-family: Open Sans, serif;
          font-style: normal;
          color: $color-heading-primary;
          text-align: left;
          display: inline-block;

          @include respond(phone){
          font-size: 2rem;
            width: 100%;
          }



        }

      }

      &--paragraph{
        font-weight: 400;
        margin: 1rem 5rem;
        padding: 1rem 0;
        font-size: 1.8rem;
        line-height: 21.09px;
        color: black;

        @include respond(phone){
          font-size: 1.5rem;
        }

      }



    }


    &__right{

      background-color: $color-login-bg-right;
      position: relative;

      @include respond(phone){
        top: 2rem;
        width: 100vw;

      }

      &--container{
        position: absolute;
        top: 40%;
        left: 0;
        transform: translate(-0%, -40%);

        @include respond(phone){
          width: 100%;
          height: 50%;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-0%, -0%);
        }
      }

      &--img{
        width: $width /2;
        height: 45rem;
        object-fit: cover;
        @include respond(phone){
          width: 100%;

        }
      }

    }

  }


